In [6]:
#working a basic Bokeh lien graph
from bokeh.plotting import figure, output_file, show
import pandas

#prepare some data
df =  pandas.read_csv("data.csv")

x = df["x"]
y = df["y"]

output_file("line_form_csv.html")

#create a figure object
f=figure()

#create line plot
f.line(x,y)

#write hte plot in the fiÄŸure object
show(f)

In [7]:
df

   x   y
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [8]:
df["y"]

0     6
1     7
2     8
3     9
4    10
Name: y, dtype: int64

In [9]:
type(df["y"])

pandas.core.series.Series